.cert-modal {
  position: relative;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  transition: .5s ease-in-out;
}

.card-container:hover .cert-modal,
.card-container:focus-within .cert-modal,
.card-container:active .cert-modal {
  visibility: visible;
  border: 3px solid var(--primary-color);
  background: var(--modal-color);
  color: var(--primary-color-light);
}

.cert-title {
  font-size: var(--text-size);
}

.cert-link {
  font-size: var(--title-size-large);
  transition: .3s ease-in-out;
}

.cert-desc {
  font-size: var(--text-size-smaller);
}

.cert-title, .cert-link, .cert-desc {
  color: var(--text-color);
}

.cert-link:hover, .cert-link:focus-within, .cert-link:active {
  color: var(--primary-color);
}
