@media (min-width: 1340px) {
  :root {
    --text-size-smaller: .73rem;
    --text-size: 1rem;
    --text-size-large: 1.2rem;
    --text-size-about: 1.3rem;
    --title-size-smaller: 1.3rem;
    --title-size: 2rem;
    --title-size-large: 3.4rem;
  }
}
