@media (min-width: 600px) {
  :root {
    --text-size-smaller: .7rem;
    --text-size-about: 1.05rem;
    --text-size: 1rem;
    --text-size-large: 1.1rem;
    --title-size-smaller: 1.2rem;
    --title-size: 1.75rem;
    --title-size-large: 2.8rem;
  }
}
