/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "open sans", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary-color-light: #b421ce;
  --primary-color: #8e24aa;
  --primary-color-dark: #6a1b9a;
  --bkg-color: #f5f5f5;
  --text-color: #000;
  --btn-color: var(--primary-color);
  --btn-text-color: #fff;
  --modal-color: #fff;

  --text-size-smaller: .67rem;
  --text-size: 1rem;
  --text-size-large: 1.2rem;
  --title-size-smaller: 1rem;
  --title-size: 1.45rem;
  --title-size-large: 2.2rem;

  background: var(--bkg-color);
  color: var(--text-color);
}

:root.dark {
  --bkg-color: #212121;
  --text-color: #fff;
  --modal-color: #000;

  background: var(--bkg-color);
  color: var(--text-color);
}

@media (min-width: 360px) {
  :root {
    --text-size-smaller: .775rem;
    --text-size: 1rem;
    --text-size-large: 1.2rem;
    --title-size-smaller: 1.3rem;
    --title-size: 1.5rem;
    --title-size-large: 2.3rem;
  }
}

@media (min-width: 600px) {
  :root {
    --text-size-smaller: .8rem;
    --text-size: 1rem;
    --text-size-large: 1.2rem;
    --title-size-smaller: 1.7rem;
    --title-size: 1.75rem;
    --title-size-large: 3rem;
  }
}

@media (min-width: 820px) {
  :root {
    --text-size-smaller: .7rem;
    --text-size: 1rem;
    --text-size-large: 1.3rem;
    --title-size-smaller: 1.4rem;
    --title-size: 2rem;
    --title-size-large: 3.25rem;
  }
}
