.header {
  z-index: 9;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem;
  width: 100%;
  height: 60px;
  background: var(--bkg-color);

  .header-title {
    cursor: pointer;
    font-size: var(--title-size);
    color: var(--text-color);
  }

  .header-nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .nav-states {
      display: inline-flex;

      .states-btn {
        margin: 0 3px;
      }
    }

    .nav-menu {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      margin: 0 10px;

      .menu-btn, .menu .menu-item {
        cursor: pointer;
        transition: .3s ease-in-out;
        color: var(--text-color);
        font-weight: 600;
      }

      .menu-btn:hover, .menu-btn:active, .menu-btn:focus-within, &.--active .menu-btn {
        color: var(--primary-color);
      }

      .menu {
        display: block;
        position: absolute;
        width: 47%;
        height: fit-content;
        top: 55px;
        right: 0;
        padding: 10px 0;
        background: var(--modal-color);
        border-radius: 5px;
        align-items: start;
        overflow: hidden;
        visibility: hidden;
        transition: visibility .3s;
        will-change: visibility;

        .menu-item {
          font-size: var(--text-size);
          padding: 12px 35px;

          &:hover, &:focus-within {
            background: var(--primary-color-dark);
            color: var(--btn-text-color);
          }

          &:active {
            color: var(--primary-color-light);
          }
        }
      }

      &.--active .menu {
        visibility: visible;
        will-change: visibility;
      }
    }
  }
}
